In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
import openai

In [2]:
csv_files = [
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\Categories.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\Customers.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\MenuItems.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\OrderItems.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\OrdersDecember.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\OrdersTable.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\ProductsTable.csv",
    "E:\Sem 3\INFO 7610 NLP\Mid Term Project\CSV\SalesUnit.csv",
]

In [3]:
df_list = [pd.read_csv(file, encoding='latin1') for file in csv_files]
table_names = ["categories", "customers", "menuitems", "orderitems", "ordersdecember", "orderstable","productstable","salesunit"]

In [4]:
df_list

[   ID ProductTypes
 0   1      Cookies
 1   2        Cakes
 2   3     Cupcakes
 3   4         Pies
 4   5     Pastries,
       ID FirstName       LastName        StreetAddress          City State  \
 0      1    Tracey        Beckham    7 East Walker Dr.       Raleigh    NC
 1      2   Lucinda         George       789 Brewer St.          Cary    NC
 2      3    Jerrod          Smith  211 St. George Ave.       Raleigh    NC
 3      4     Brett        Newkirk  47 Hillsborough St.       Raleigh    NC
 4      5     Chloe          Jones          23 Solo Ln.       Raleigh    NC
 ..   ...       ...            ...                  ...           ...   ...
 195  206  Gregoire           Pick        604 Hatsy Way     Charlotte    NC
 196  207   Mallary           Pont      91 Julianna Way     Charlotte    NC
 197  208    Rajeev  Parthasarathy  1009 Raleigh Street  Hillsborough    NC
 198  209      Will           Good     38 Learnfree St.       Raleigh    NC
 199  212     David        Barrett         434 Hill St.       Raleigh    NC

      ZipCode                   Email AddtoMailingList   PhoneNumber OtherNotes
 0      27612          beck@email.com               No  919-555-2314        NaN
 1      27513         lugeo@email.com      Yes- Weekly  919-555-4534        NaN
 2      27610          texj@email.com               No  919-555-4564        NaN
 3      27608         newkb@email.com               No  919-555-7653        NaN
 4      27609            lo@email.com               No  919-555-8658        NaN
 ..       ...                     ...              ...           ...        ...
 195    28203           gre@email.com               No  336-555-3132        NaN
 196    28201      charchar@email.com               No  336-555-2211        NaN
 197    27278         rajey@email.com               No  919-555-0321        NaN
 198    27701                     NaN               No  919-555-9455        NaN
 199    27609  davidbarrett@email.com               No  919-555-0662        NaN

 [200 rows x 11 columns],
       ID  ProductID  SalesUnitID   Price
 0      6         35            1  $22.00
 1      7          9            1  $22.00
 2      8         10            1  $22.00
 3      9         11            1  $22.00
 4     10         12            1  $22.00
 ..   ...        ...          ...     ...
 171  181         87            2  $13.50
 172  182         87            3  $24.00
 173  183         88            1   $3.00
 174  184         88            2  $16.00
 175  185         88            3  $30.00

 [176 rows x 4 columns],
       ID  OrderID  MenuItemID  Quantity
 0      7        5         179         1
 1      8        5          33         2
 2      9        6           6         1
 3     10        7          19         2
 4     11        7          54         3
 ..   ...      ...         ...       ...
 155  164       63           8         1
 156  166       63          74         1
 157  167       63          53         1
 158  169       63         140         2
 159  170       63         133         2

 [160 rows x 4 columns],
    ProductTypes                             ProductName SalesUnit  \
 0         Cakes                            Black Forest    Single
 1         Cakes                            Black Walnut    Single
 2         Cakes  Buche de Noel (Christmas Cake)- Winter    Single
 3         Cakes                             Carrot Cake    Single
 4         Cakes                              Cheesecake    Single
 ..          ...                                     ...       ...
 60         Pies                 Peanut Butter Chocolate    Single
 61         Pies                                   Pecan    Single
 62         Pies                                 Pumpkin    Single
 63         Pies                            Sweet Potato    Single
 64          NaN                                     NaN       NaN

     ValueofSalesUnit  SalesUnitSold  ActualSold
 0                1.0            8.0           8
 1                1.0            5.0           5
 2                1.0           12.0          12
 3                1.0            8.0           8
 4                1.0           18.0          18
 ..               ...            ...         ...
 60               1.0            3.0           3
 61               1.0           10.0          10
 62               1.0            9.0           9
 63               1.0            3.0           3
 64               NaN            NaN        1289

 [65 rows x 6 columns],
     ID  Customer ID   Paid  PreOrder  \
 0    5           44   True     False
 1    6          136   True      True
 2    7          131   True     False
 3    8          145   True      True
 4    9           47   True     False
 5   10           38   True     False
 6   11           92   True      True
 7   12           38   True     False
 8   13          139   True      True
 9   14          130   True     False
 10  15          129   True      True
 11  16          124   True     False
 12  17          163   True     False
 13  18           96   True     False
 14  19           78   True     False
 15  20          153   True     False
 16  21           71   True      True
 17  22          176   True     False
 18  23          149   True     False
 19  24           96   True      True
 20  25           10   True      True
 21  26          100   True      True
 22  27          125   True      True
 23  28          104   True      True
 24  29           97   True      True
 25  30          101   True      True
 26  31           44   True      True
 27  32          121   True      True
 28  33          187   True      True
 29  34           92   True      True
 30  35          101  False     False
 31  36          106   True     False
 32  37           81   True     False
 33  38            1   True     False
 34  39          106   True      True
 35  40           82   True     False
 36  41          111   True      True
 37  42           37   True     False
 38  43           57   True     False
 39  44          191   True     False
 40  45          117   True      True
 41  46           54   True     False
 42  47          146   True     False
 43  48           86   True      True
 44  49          118   True      True
 45  50          188  False     False
 46  51          150  False     False
 47  52          198  False     False
 48  53          194  False     False
 49  54          120  False     False
 50  55          119  False      True
 51  56           75  False     False
 52  57          197  False     False
 53  58          133  False     False
 54  59           72  False     False
 55  60           53  False     False
 56  61          208  False     False
 57  62          209  False     False
 58  63           37   True      True

                                                 Notes PickupDate
 0                                                 NaN  04-Dec-13
 1   Forabirthdayparty--cakeshouldread"HappyBirthda...  09-Dec-13
 2                                                 NaN  04-Dec-13
 3                    ForareceptionattheJ.IkibaGallery  10-Dec-13
 4                                                 NaN  14-Dec-13
 5                                                 NaN  15-Dec-13
 6                                    Foraholidayparty  15-Dec-13
 7                                                 NaN  16-Dec-13
 8   Forakindergartenparty.Write"Happy6thBirthdayMa...  16-Dec-13
 9                                                 NaN  17-Dec-13
 10                                   Foraholidayparty  17-Dec-13
 11                                                NaN  17-Dec-13
 12                                                NaN  18-Dec-13
 13                                 ForaChristmasparty  18-Dec-13
 14                Cakeshouldread"CongratulationsYuki"  18-Dec-13
 15                                                NaN  18-Dec-13
 16                                   Foranofficeparty  19-Dec-13
 17                                         Extraicing  18-Jan-13
 18                                                NaN  20-Dec-13
 19  Decoratecakewiththefollowingnames:"Edouard""Ar...  23-Dec-13
 20                                          Christmas  23-Dec-13
 21                          Addtext"JoyeauxNoÃ«l2010"  23-Dec-13
 22  Christmas-Write"HappyBirthdayJesus"ontheCarrot...  23-Dec-13
 23                     Christmas-Tieboxesupwithribbon  23-Dec-13
 24     Christmas-write"MerryChristmastoAll"onthecake.  23-Dec-13
 25  Varydecorativedetailsonthecakes--differentcolo...  24-Dec-13
 26                                                NaN  24-Dec-13
 27                                                NaN  24-Dec-13
 28                                                NaN  24-Dec-13
 29                                                NaN  24-Dec-13
 30  Christmas.DecorateBuchedeNoelwithredflowersand...  24-Dec-13
 31                                                NaN  24-Dec-13
 32                                                NaN  23-Dec-13
 33                                                NaN  24-Dec-13
 34  Apparentlyheplanstoeatmostofthishimself?Maybet...  24-Dec-13
 35  Customercameinanhourbeforeclosingtimeandgotang...  24-Dec-13
 36                                       ForaNYEparty  30-Dec-13
 37                                                NaN  30-Dec-13
 38                                                NaN  30-Dec-13
 39                                                NaN  30-Dec-13
 40                                       ForaNYEparty  31-Dec-13
 41                                                NaN  31-Dec-13
 42                                                NaN  31-Dec-13
 43  FortheMayor'sNYEGala--arrangeonbestplattersand...  31-Dec-13
 44                                                NaN  31-Dec-13
 45                                                NaN  04-Jan-13
 46                                                NaN  02-Mar-13
 47                                                NaN  03-Mar-13
 48                                                NaN  02-Mar-13
 49                                                NaN  04-Mar-13
 50                                                NaN  12-Mar-13
 51                                                NaN  10-Mar-13
 52                                                NaN  11-Mar-13
 53                                                NaN  17-Mar-13
 54                                                NaN  17-Mar-13
 55                                                NaN  15-Mar-13
 56                                                NaN  14-Mar-13
 57  YesYoufoundme.Congratulationsonbuildingyourfir...        NaN
 58  ForaSt.Patrick'sDayparty.Makeeverythingwecangr...  16-Mar-13  ,
      ID       ProductName                                        Description
 0     8   Fudge Chocolate  So rich and heavy with chocolate, you'll need ...
 1     9      Fudge Marble  The cake that dares ask the question: what if ...
 2    10    French Vanilla  Oo la la! Some people might say this cake has ...
 3    11  Strawberry Swirl  A dizzying swirl of strawberries and crème. Ho...
 4    12  Cookies n' Cream  Like dipping oreos and milk, but a cake, and n...
 ..  ...               ...                                                ...
 83  101    Lemon Meringue                 A delicate and delightful classic.
 84  102          Key Lime  Tart and rich. Made with real key limes. A tro...
 85  103   Chocolate Chess  Chocolate lovers have met their match. Checkmate.
 86  104       French Silk  The title might be French, but this creamy cho...
 87  105       Apple Crumb  Our apple pie with special crumb-cake topping....

 [88 rows x 3 columns],
    ID ProductName  SalesUnitVal
 0   1      Single             1
 1   2  Half-Dozen             6
 2   3   One Dozen            12]

In [5]:
# Create an in-memory SQLite database engine
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [6]:
# Loop through DataFrames and convert them to SQLite tables
for i, df in enumerate(df_list):
    table_name = table_names[i]
    df.to_sql(name=table_name, con=temp_db, if_exists='replace')

2023-11-02 16:01:31,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,934 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("categories")
2023-11-02 16:01:31,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,936 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("categories")
2023-11-02 16:01:31,936 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,937 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:31,940 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,942 INFO sqlalchemy.engine.Engine
CREATE TABLE categories (
	"index" BIGINT,
	"ID" BIGINT,
	"ProductTypes" TEXT
)


2023-11-02 16:01:31,942 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-11-02 16:01:31,943 INFO sqlalchemy.engine.Engine CREATE INDEX ix_categories_index ON categories ("index")
2023-11-02 16:01:31,944 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-11-02 16:01:31,945 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,947 INFO sqlalchemy.engine.Engine INSERT INTO categories ("index", "ID", "ProductTypes") VALUES (?, ?, ?)
2023-11-02 16:01:31,948 INFO sqlalchemy.engine.Engine [generated in 0.00066s] [(0, 1, 'Cookies'), (1, 2, 'Cakes'), (2, 3, 'Cupcakes'), (3, 4, 'Pies'), (4, 5, 'Pastries')]
2023-11-02 16:01:31,949 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,951 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customers")
2023-11-02 16:01:31,952 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,953 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customers")
2023-11-02 16:01:31,953 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,953 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:31,955 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,957 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	"index" BIGINT,
	"ID" BIGINT,
	"FirstName" TEXT,
	"LastName" TEXT,
	"StreetAddress" TEXT,
	"City" TEXT,
	"State" TEXT,
	"ZipCode" BIGINT,
	"Email" TEXT,
	"AddtoMailingList" TEXT,
	"PhoneNumber" TEXT,
	"OtherNotes" TEXT
)


2023-11-02 16:01:31,957 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2023-11-02 16:01:31,959 INFO sqlalchemy.engine.Engine CREATE INDEX ix_customers_index ON customers ("index")
2023-11-02 16:01:31,960 INFO sqlalchemy.engine.Engine [no key 0.00092s] ()
2023-11-02 16:01:31,961 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,963 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,965 INFO sqlalchemy.engine.Engine INSERT INTO customers ("index", "ID", "FirstName", "LastName", "StreetAddress", "City", "State", "ZipCode", "Email", "AddtoMailingList", "PhoneNumber", "OtherNotes") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-11-02 16:01:31,966 INFO sqlalchemy.engine.Engine [generated in 0.00172s] [(0, 1, 'Tracey', 'Beckham', '7 East Walker Dr.', 'Raleigh', 'NC', 27612, 'beck@email.com', 'No', '919-555-2314', None), (1, 2, 'Lucinda', 'George', '789 Brewer St.', 'Cary', 'NC', 27513, 'lugeo@email.com', 'Yes- Weekly', '919-555-4534', None), (2, 3, 'Jerrod', 'Smith', '211 St. George Ave.', 'Raleigh', 'NC', 27610, 'texj@email.com', 'No', '919-555-4564', None), (3, 4, 'Brett', 'Newkirk', '47 Hillsborough St.', 'Raleigh', 'NC', 27608, 'newkb@email.com', 'No', '919-555-7653', None), (4, 5, 'Chloe', 'Jones', '23 Solo Ln.', 'Raleigh', 'NC', 27609, 'lo@email.com', 'No', '919-555-8658', None), (5, 6, 'Quinton', 'Boyd', '4 Cypress Cr.', 'Durham', 'NC', 27714, 'denqui@email.com', 'Yes- Weekly', '919-555-5112', None), (6, 7, 'Alex', 'Hinton', '1011 Hodge Ln.', 'Cary', 'NC', 27513, 'dhoda@email.com', 'No', '919-555-5460', None), (7, 8, 'Nisha', 'Hall', '123 Huntington St.', 'Raleigh', 'NC', 27612, 'hall@email.com', 'Yes- Special Offers Only', '919-555-5753', None)  ... displaying 10 of 200 total bound parameter sets ...  (198, 209, 'Will', 'Good', '38 Learnfree St.', 'Raleigh', 'NC', 27701, None, 'No', '919-555-9455', None), (199, 212, 'David', 'Barrett', '434 Hill St.', 'Raleigh', 'NC', 27609, 'davidbarrett@email.com', 'No', '919-555-0662', None)]
2023-11-02 16:01:31,967 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,969 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,970 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("menuitems")
2023-11-02 16:01:31,971 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,972 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("menuitems")
2023-11-02 16:01:31,973 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,974 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:31,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,976 INFO sqlalchemy.engine.Engine
CREATE TABLE menuitems (
	"index" BIGINT,
	"ID" BIGINT,
	"ProductID" BIGINT,
	"SalesUnitID" BIGINT,
	"Price" TEXT
)


2023-11-02 16:01:31,977 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2023-11-02 16:01:31,978 INFO sqlalchemy.engine.Engine CREATE INDEX ix_menuitems_index ON menuitems ("index")
2023-11-02 16:01:31,979 INFO sqlalchemy.engine.Engine [no key 0.00057s] ()
2023-11-02 16:01:31,979 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,980 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,982 INFO sqlalchemy.engine.Engine INSERT INTO menuitems ("index", "ID", "ProductID", "SalesUnitID", "Price") VALUES (?, ?, ?, ?, ?)
2023-11-02 16:01:31,983 INFO sqlalchemy.engine.Engine [generated in 0.00106s] [(0, 6, 35, 1, '$22.00'), (1, 7, 9, 1, '$22.00'), (2, 8, 10, 1, '$22.00'), (3, 9, 11, 1, '$22.00'), (4, 10, 12, 1, '$22.00'), (5, 11, 13, 1, '$22.00'), (6, 12, 14, 1, '$22.00'), (7, 13, 15, 1, '$22.00')  ... displaying 10 of 176 total bound parameter sets ...  (174, 184, 88, 2, '$16.00'), (175, 185, 88, 3, '$30.00')]
2023-11-02 16:01:31,984 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,986 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,986 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orderitems")
2023-11-02 16:01:31,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,988 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orderitems")
2023-11-02 16:01:31,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:31,989 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:31,992 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,993 INFO sqlalchemy.engine.Engine
CREATE TABLE orderitems (
	"index" BIGINT,
	"ID" BIGINT,
	"OrderID" BIGINT,
	"MenuItemID" BIGINT,
	"Quantity" BIGINT
)


2023-11-02 16:01:31,993 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2023-11-02 16:01:31,994 INFO sqlalchemy.engine.Engine CREATE INDEX ix_orderitems_index ON orderitems ("index")
2023-11-02 16:01:31,995 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2023-11-02 16:01:31,995 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:31,996 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:31,998 INFO sqlalchemy.engine.Engine INSERT INTO orderitems ("index", "ID", "OrderID", "MenuItemID", "Quantity") VALUES (?, ?, ?, ?, ?)
2023-11-02 16:01:31,999 INFO sqlalchemy.engine.Engine [generated in 0.00124s] [(0, 7, 5, 179, 1), (1, 8, 5, 33, 2), (2, 9, 6, 6, 1), (3, 10, 7, 19, 2), (4, 11, 7, 54, 3), (5, 12, 7, 34, 1), (6, 13, 7, 156, 1), (7, 14, 5, 63, 1)  ... displaying 10 of 160 total bound parameter sets ...  (158, 169, 63, 140, 2), (159, 170, 63, 133, 2)]
2023-11-02 16:01:32,000 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,002 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,002 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ordersdecember")
2023-11-02 16:01:32,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,003 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ordersdecember")
2023-11-02 16:01:32,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,005 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:32,006 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,007 INFO sqlalchemy.engine.Engine
CREATE TABLE ordersdecember (
	"index" BIGINT,
	"ProductTypes" TEXT,
	"ProductName" TEXT,
	"SalesUnit" TEXT,
	"ValueofSalesUnit" FLOAT,
	"SalesUnitSold" FLOAT,
	"ActualSold" BIGINT
)


2023-11-02 16:01:32,008 INFO sqlalchemy.engine.Engine [no key 0.00046s] ()
2023-11-02 16:01:32,009 INFO sqlalchemy.engine.Engine CREATE INDEX ix_ordersdecember_index ON ordersdecember ("index")
2023-11-02 16:01:32,009 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2023-11-02 16:01:32,010 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,011 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,012 INFO sqlalchemy.engine.Engine INSERT INTO ordersdecember ("index", "ProductTypes", "ProductName", "SalesUnit", "ValueofSalesUnit", "SalesUnitSold", "ActualSold") VALUES (?, ?, ?, ?, ?, ?, ?)
2023-11-02 16:01:32,013 INFO sqlalchemy.engine.Engine [generated in 0.00088s] [(0, 'Cakes', 'Black Forest', 'Single', 1.0, 8.0, 8), (1, 'Cakes', 'Black Walnut', 'Single', 1.0, 5.0, 5), (2, 'Cakes', 'Buche de Noel (Christmas Cake)- Winter', 'Single', 1.0, 12.0, 12), (3, 'Cakes', 'Carrot Cake', 'Single', 1.0, 8.0, 8), (4, 'Cakes', 'Cheesecake', 'Single', 1.0, 18.0, 18), (5, 'Cakes', 'Coconut', 'Single', 1.0, 2.0, 2), (6, 'Cakes', "Cookies n' Cream", 'Single', 1.0, 1.0, 1), (7, 'Cakes', 'French Vanilla', 'Single', 1.0, 1.0, 1)  ... displaying 10 of 65 total bound parameter sets ...  (63, 'Pies', 'Sweet Potato', 'Single', 1.0, 3.0, 3), (64, None, None, None, None, None, 1289)]
2023-11-02 16:01:32,014 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,016 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,016 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orderstable")
2023-11-02 16:01:32,016 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,018 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orderstable")
2023-11-02 16:01:32,019 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,019 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:32,023 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,025 INFO sqlalchemy.engine.Engine
CREATE TABLE orderstable (
	"index" BIGINT,
	"ID" BIGINT,
	"Customer ID" BIGINT,
	"Paid" BOOLEAN,
	"PreOrder" BOOLEAN,
	"Notes" TEXT,
	"PickupDate" TEXT
)


2023-11-02 16:01:32,027 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2023-11-02 16:01:32,028 INFO sqlalchemy.engine.Engine CREATE INDEX ix_orderstable_index ON orderstable ("index")
2023-11-02 16:01:32,028 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2023-11-02 16:01:32,029 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,032 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,034 INFO sqlalchemy.engine.Engine INSERT INTO orderstable ("index", "ID", "Customer ID", "Paid", "PreOrder", "Notes", "PickupDate") VALUES (?, ?, ?, ?, ?, ?, ?)
2023-11-02 16:01:32,035 INFO sqlalchemy.engine.Engine [generated in 0.00155s] [(0, 5, 44, 1, 0, None, '04-Dec-13'), (1, 6, 136, 1, 1, 'Forabirthdayparty--cakeshouldread"HappyBirthdayDaddy"', '09-Dec-13'), (2, 7, 131, 1, 0, None, '04-Dec-13'), (3, 8, 145, 1, 1, 'ForareceptionattheJ.IkibaGallery', '10-Dec-13'), (4, 9, 47, 1, 0, None, '14-Dec-13'), (5, 10, 38, 1, 0, None, '15-Dec-13'), (6, 11, 92, 1, 1, 'Foraholidayparty', '15-Dec-13'), (7, 12, 38, 1, 0, None, '16-Dec-13')  ... displaying 10 of 59 total bound parameter sets ...  (57, 62, 209, 0, 0, 'YesYoufoundme.Congratulationsonbuildingyourfirstquery:)', None), (58, 63, 37, 1, 1, "ForaSt.Patrick'sDayparty.Makeeverythingwecangreen(greenfoodcoloringtocakeandcookiedoughgreenfillingincreampuffs)andaddongreensprinkleswhereappropriate.", '16-Mar-13')]
2023-11-02 16:01:32,036 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,039 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("productstable")
2023-11-02 16:01:32,041 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,042 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("productstable")
2023-11-02 16:01:32,042 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,043 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:32,044 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,045 INFO sqlalchemy.engine.Engine
CREATE TABLE productstable (
	"index" BIGINT,
	"ID" BIGINT,
	"ProductName" TEXT,
	"Description" TEXT
)


2023-11-02 16:01:32,045 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2023-11-02 16:01:32,046 INFO sqlalchemy.engine.Engine CREATE INDEX ix_productstable_index ON productstable ("index")
2023-11-02 16:01:32,047 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2023-11-02 16:01:32,048 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,049 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,050 INFO sqlalchemy.engine.Engine INSERT INTO productstable ("index", "ID", "ProductName", "Description") VALUES (?, ?, ?, ?)
2023-11-02 16:01:32,051 INFO sqlalchemy.engine.Engine [generated in 0.00063s] [(0, 8, 'Fudge Chocolate', "So rich and heavy with chocolate, you'll need someone to help you carry it home. No, really."), (1, 9, 'Fudge Marble', 'The cake that dares ask the question: what if marble were made of three types of chocolate? The answer\x85 delicious.'), (2, 10, 'French Vanilla', 'Oo la la! Some people might say this cake has a certain je ne sais quoi\x85 but we "sais quoi"-- lots of vanilla.'), (3, 11, 'Strawberry Swirl', 'A dizzying swirl of strawberries and crème. Hold on tight!'), (4, 12, "Cookies n' Cream", 'Like dipping oreos and milk, but a cake, and not at all soggy.'), (5, 13, 'Lemon', 'A simple classic-- sweet and sour.'), (6, 14, 'German Chocolate', '"Chocolate" in German is "schokolade." You don\'t have to be able to say that to enjoy this cake.'), (7, 15, 'Red Velvet', "Your grandma's favorite cake, topped with rich buttercream icing.")  ... displaying 10 of 88 total bound parameter sets ...  (86, 104, 'French Silk', 'The title might be French, but this creamy chocolate pie topped with a layer of cool, sweet whipped cream is pure yin/yang.'), (87, 105, 'Apple Crumb', "Our apple pie with special crumb-cake topping. You'll eat every crumb, we promise.")]
2023-11-02 16:01:32,051 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,056 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,057 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("salesunit")
2023-11-02 16:01:32,058 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,058 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("salesunit")
2023-11-02 16:01:32,059 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-02 16:01:32,060 INFO sqlalchemy.engine.Engine ROLLBACK
2023-11-02 16:01:32,061 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,062 INFO sqlalchemy.engine.Engine
CREATE TABLE salesunit (
	"index" BIGINT,
	"ID" BIGINT,
	"ProductName" TEXT,
	"SalesUnitVal" BIGINT
)


2023-11-02 16:01:32,062 INFO sqlalchemy.engine.Engine [no key 0.00044s] ()
2023-11-02 16:01:32,063 INFO sqlalchemy.engine.Engine CREATE INDEX ix_salesunit_index ON salesunit ("index")
2023-11-02 16:01:32,064 INFO sqlalchemy.engine.Engine [no key 0.00060s] ()
2023-11-02 16:01:32,065 INFO sqlalchemy.engine.Engine COMMIT
2023-11-02 16:01:32,066 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:32,067 INFO sqlalchemy.engine.Engine INSERT INTO salesunit ("index", "ID", "ProductName", "SalesUnitVal") VALUES (?, ?, ?, ?)
2023-11-02 16:01:32,067 INFO sqlalchemy.engine.Engine [generated in 0.00064s] [(0, 1, 'Single', 1), (1, 2, 'Half-Dozen', 6), (2, 3, 'One Dozen', 12)]
2023-11-02 16:01:32,068 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
df_list

[   ID ProductTypes
 0   1      Cookies
 1   2        Cakes
 2   3     Cupcakes
 3   4         Pies
 4   5     Pastries,
       ID FirstName       LastName        StreetAddress          City State  \
 0      1    Tracey        Beckham    7 East Walker Dr.       Raleigh    NC
 1      2   Lucinda         George       789 Brewer St.          Cary    NC
 2      3    Jerrod          Smith  211 St. George Ave.       Raleigh    NC
 3      4     Brett        Newkirk  47 Hillsborough St.       Raleigh    NC
 4      5     Chloe          Jones          23 Solo Ln.       Raleigh    NC
 ..   ...       ...            ...                  ...           ...   ...
 195  206  Gregoire           Pick        604 Hatsy Way     Charlotte    NC
 196  207   Mallary           Pont      91 Julianna Way     Charlotte    NC
 197  208    Rajeev  Parthasarathy  1009 Raleigh Street  Hillsborough    NC
 198  209      Will           Good     38 Learnfree St.       Raleigh    NC
 199  212     David        Barrett         434 Hill St.       Raleigh    NC

      ZipCode                   Email AddtoMailingList   PhoneNumber OtherNotes
 0      27612          beck@email.com               No  919-555-2314        NaN
 1      27513         lugeo@email.com      Yes- Weekly  919-555-4534        NaN
 2      27610          texj@email.com               No  919-555-4564        NaN
 3      27608         newkb@email.com               No  919-555-7653        NaN
 4      27609            lo@email.com               No  919-555-8658        NaN
 ..       ...                     ...              ...           ...        ...
 195    28203           gre@email.com               No  336-555-3132        NaN
 196    28201      charchar@email.com               No  336-555-2211        NaN
 197    27278         rajey@email.com               No  919-555-0321        NaN
 198    27701                     NaN               No  919-555-9455        NaN
 199    27609  davidbarrett@email.com               No  919-555-0662        NaN

 [200 rows x 11 columns],
       ID  ProductID  SalesUnitID   Price
 0      6         35            1  $22.00
 1      7          9            1  $22.00
 2      8         10            1  $22.00
 3      9         11            1  $22.00
 4     10         12            1  $22.00
 ..   ...        ...          ...     ...
 171  181         87            2  $13.50
 172  182         87            3  $24.00
 173  183         88            1   $3.00
 174  184         88            2  $16.00
 175  185         88            3  $30.00

 [176 rows x 4 columns],
       ID  OrderID  MenuItemID  Quantity
 0      7        5         179         1
 1      8        5          33         2
 2      9        6           6         1
 3     10        7          19         2
 4     11        7          54         3
 ..   ...      ...         ...       ...
 155  164       63           8         1
 156  166       63          74         1
 157  167       63          53         1
 158  169       63         140         2
 159  170       63         133         2

 [160 rows x 4 columns],
    ProductTypes                             ProductName SalesUnit  \
 0         Cakes                            Black Forest    Single
 1         Cakes                            Black Walnut    Single
 2         Cakes  Buche de Noel (Christmas Cake)- Winter    Single
 3         Cakes                             Carrot Cake    Single
 4         Cakes                              Cheesecake    Single
 ..          ...                                     ...       ...
 60         Pies                 Peanut Butter Chocolate    Single
 61         Pies                                   Pecan    Single
 62         Pies                                 Pumpkin    Single
 63         Pies                            Sweet Potato    Single
 64          NaN                                     NaN       NaN

     ValueofSalesUnit  SalesUnitSold  ActualSold
 0                1.0            8.0           8
 1                1.0            5.0           5
 2                1.0           12.0          12
 3                1.0            8.0           8
 4                1.0           18.0          18
 ..               ...            ...         ...
 60               1.0            3.0           3
 61               1.0           10.0          10
 62               1.0            9.0           9
 63               1.0            3.0           3
 64               NaN            NaN        1289

 [65 rows x 6 columns],
     ID  Customer ID   Paid  PreOrder  \
 0    5           44   True     False
 1    6          136   True      True
 2    7          131   True     False
 3    8          145   True      True
 4    9           47   True     False
 5   10           38   True     False
 6   11           92   True      True
 7   12           38   True     False
 8   13          139   True      True
 9   14          130   True     False
 10  15          129   True      True
 11  16          124   True     False
 12  17          163   True     False
 13  18           96   True     False
 14  19           78   True     False
 15  20          153   True     False
 16  21           71   True      True
 17  22          176   True     False
 18  23          149   True     False
 19  24           96   True      True
 20  25           10   True      True
 21  26          100   True      True
 22  27          125   True      True
 23  28          104   True      True
 24  29           97   True      True
 25  30          101   True      True
 26  31           44   True      True
 27  32          121   True      True
 28  33          187   True      True
 29  34           92   True      True
 30  35          101  False     False
 31  36          106   True     False
 32  37           81   True     False
 33  38            1   True     False
 34  39          106   True      True
 35  40           82   True     False
 36  41          111   True      True
 37  42           37   True     False
 38  43           57   True     False
 39  44          191   True     False
 40  45          117   True      True
 41  46           54   True     False
 42  47          146   True     False
 43  48           86   True      True
 44  49          118   True      True
 45  50          188  False     False
 46  51          150  False     False
 47  52          198  False     False
 48  53          194  False     False
 49  54          120  False     False
 50  55          119  False      True
 51  56           75  False     False
 52  57          197  False     False
 53  58          133  False     False
 54  59           72  False     False
 55  60           53  False     False
 56  61          208  False     False
 57  62          209  False     False
 58  63           37   True      True

                                                 Notes PickupDate
 0                                                 NaN  04-Dec-13
 1   Forabirthdayparty--cakeshouldread"HappyBirthda...  09-Dec-13
 2                                                 NaN  04-Dec-13
 3                    ForareceptionattheJ.IkibaGallery  10-Dec-13
 4                                                 NaN  14-Dec-13
 5                                                 NaN  15-Dec-13
 6                                    Foraholidayparty  15-Dec-13
 7                                                 NaN  16-Dec-13
 8   Forakindergartenparty.Write"Happy6thBirthdayMa...  16-Dec-13
 9                                                 NaN  17-Dec-13
 10                                   Foraholidayparty  17-Dec-13
 11                                                NaN  17-Dec-13
 12                                                NaN  18-Dec-13
 13                                 ForaChristmasparty  18-Dec-13
 14                Cakeshouldread"CongratulationsYuki"  18-Dec-13
 15                                                NaN  18-Dec-13
 16                                   Foranofficeparty  19-Dec-13
 17                                         Extraicing  18-Jan-13
 18                                                NaN  20-Dec-13
 19  Decoratecakewiththefollowingnames:"Edouard""Ar...  23-Dec-13
 20                                          Christmas  23-Dec-13
 21                          Addtext"JoyeauxNoÃ«l2010"  23-Dec-13
 22  Christmas-Write"HappyBirthdayJesus"ontheCarrot...  23-Dec-13
 23                     Christmas-Tieboxesupwithribbon  23-Dec-13
 24     Christmas-write"MerryChristmastoAll"onthecake.  23-Dec-13
 25  Varydecorativedetailsonthecakes--differentcolo...  24-Dec-13
 26                                                NaN  24-Dec-13
 27                                                NaN  24-Dec-13
 28                                                NaN  24-Dec-13
 29                                                NaN  24-Dec-13
 30  Christmas.DecorateBuchedeNoelwithredflowersand...  24-Dec-13
 31                                                NaN  24-Dec-13
 32                                                NaN  23-Dec-13
 33                                                NaN  24-Dec-13
 34  Apparentlyheplanstoeatmostofthishimself?Maybet...  24-Dec-13
 35  Customercameinanhourbeforeclosingtimeandgotang...  24-Dec-13
 36                                       ForaNYEparty  30-Dec-13
 37                                                NaN  30-Dec-13
 38                                                NaN  30-Dec-13
 39                                                NaN  30-Dec-13
 40                                       ForaNYEparty  31-Dec-13
 41                                                NaN  31-Dec-13
 42                                                NaN  31-Dec-13
 43  FortheMayor'sNYEGala--arrangeonbestplattersand...  31-Dec-13
 44                                                NaN  31-Dec-13
 45                                                NaN  04-Jan-13
 46                                                NaN  02-Mar-13
 47                                                NaN  03-Mar-13
 48                                                NaN  02-Mar-13
 49                                                NaN  04-Mar-13
 50                                                NaN  12-Mar-13
 51                                                NaN  10-Mar-13
 52                                                NaN  11-Mar-13
 53                                                NaN  17-Mar-13
 54                                                NaN  17-Mar-13
 55                                                NaN  15-Mar-13
 56                                                NaN  14-Mar-13
 57  YesYoufoundme.Congratulationsonbuildingyourfir...        NaN
 58  ForaSt.Patrick'sDayparty.Makeeverythingwecangr...  16-Mar-13  ,
      ID       ProductName                                        Description
 0     8   Fudge Chocolate  So rich and heavy with chocolate, you'll need ...
 1     9      Fudge Marble  The cake that dares ask the question: what if ...
 2    10    French Vanilla  Oo la la! Some people might say this cake has ...
 3    11  Strawberry Swirl  A dizzying swirl of strawberries and crème. Ho...
 4    12  Cookies n' Cream  Like dipping oreos and milk, but a cake, and n...
 ..  ...               ...                                                ...
 83  101    Lemon Meringue                 A delicate and delightful classic.
 84  102          Key Lime  Tart and rich. Made with real key limes. A tro...
 85  103   Chocolate Chess  Chocolate lovers have met their match. Checkmate.
 86  104       French Silk  The title might be French, but this creamy cho...
 87  105       Apple Crumb  Our apple pie with special crumb-cake topping....

 [88 rows x 3 columns],
    ID ProductName  SalesUnitVal
 0   1      Single             1
 1   2  Half-Dozen             6
 2   3   One Dozen            12]

In [8]:
# Define your OpenAI API key
api_key = "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"
if api_key:
    openai.api_key = api_key
else:
    print("API key not found. Please set your API key as an environment variable.")

In [9]:
# Function to create a table definition prompt
def create_table_definition_prompt(df, table_name):
    prompt = f"CREATE TABLE {table_name} ({', '.join([f'{col} DATATYPE' for col in df.columns])});"
    return prompt

In [10]:
# Function to input the information you want to obtain
def prompt_input():
    nlp_text = input("Enter the information you want to obtain: ")
    return nlp_text

nlp_text = prompt_input()

Enter the information you want to obtain: find name and email from customers

In [11]:
# Function to combine prompts
def combine_prompts(df, query_prompt, table_name):
    definition = create_table_definition_prompt(df, table_name)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition + query_init_string

In [12]:
# Generate a prompt
prompt = combine_prompts(df_list[1], nlp_text, table_names[1])

In [13]:
# Call OpenAI to generate an SQL query from the prompt
response = openai.Completion.create(
    model="text-davinci-003",
    prompt=prompt,
    temperature=0,
    max_tokens=150,
    top_p=1.0,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop=["#", ";"]
)

In [14]:
response

<OpenAIObject text_completion id=cmpl-8GYArE46yKwZJa72cyTnE1bHPpT9C at 0x2726b31a570> JSON: {
  "warning": "This model version is deprecated. Migrate before January 4, 2024 to avoid disruption of service. Learn more https://platform.openai.com/docs/deprecations",
  "id": "cmpl-8GYArE46yKwZJa72cyTnE1bHPpT9C",
  "object": "text_completion",
  "created": 1698955305,
  "model": "text-davinci-003",
  "choices": [
    {
      "text": " FirstName, Email FROM customers",
      "index": 0,
      "logprobs": null,
      "finish_reason": "stop"
    }
  ],
  "usage": {
    "prompt_tokens": 106,
    "completion_tokens": 6,
    "total_tokens": 112
  }
}

In [15]:
# Function to handle the OpenAI response
def handle_response(response):
    query = response["choices"][0]["text"]
    if query.startswith("SELECT"):
        return query
    return f"SELECT {query}"

In [16]:
handle_response(response)

'SELECT  FirstName, Email FROM customers'

In [17]:
# Execute the SQL query in the in-memory database
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

2023-11-02 16:01:46,486 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-02 16:01:46,487 INFO sqlalchemy.engine.Engine SELECT  FirstName, Email FROM customers
2023-11-02 16:01:46,488 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()
2023-11-02 16:01:46,490 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
# Retrieve the results
results = result.fetchall()
print(results)

[('Tracey', 'beck@email.com'), ('Lucinda', 'lugeo@email.com'), ('Jerrod', 'texj@email.com'), ('Brett', 'newkb@email.com'), ('Chloe', 'lo@email.com'), ('Quinton', 'denqui@email.com'), ('Alex', 'dhoda@email.com'), ('Nisha', 'hall@email.com'), ('Hillary', 'mshill@email.com'), ('Kiara', 'rogki@email.com'), ('Katy', 'yjonesk@email.com'), ('Beatrix', 'jozbee@email.com'), ('Mariah', 'mallen@email.com'), ('Jennifer', 'hillj@email.com'), ('Jaleel', 'jsmi@email.com'), ('Cody', 'richhi@email.com'), ('Amaya', 'alg@email.com'), ('Cynthia', 'topv@email.com'), ('Cindy', 'cindyfree@email.com'), ('Barbara', 'bjaes@email.com'), ('Bob', 'Bob_ready2read@email.com'), ('Juanita', 'Juanita_ready2read@email.com'), ('Sara', 'Sarasara@email.com'), ('Larry', 'Larry87@email.com'), ('Samantha', 'Sferguson@email.com'), ('Patti', 'Jamie_X@email.com'), ('Greg', 'ChengPat@email.com'), ('Carol', 'GregNew@email.com'), ('Zoey', 'callenson@email.com'), ('Danny', 'zalt@email.com'), ('Vig', 'daurelio@email.com'), ('Jeffery', 'bigvig22@email.com'), ('William', 'jefejeff@email.com'), ('Megan', 'willbit@email.com'), ('Dick', 'megansays@email.com'), ('Marjan', 'callmedon@email.com'), ('Colin', 'margy@email.com'), ('Hakim', 'colin_hopkins@email.com'), ('Pilar', 'hauden@email.com'), ('Eliza', 'eharris@email.com'), ('Chloe', 'chloedit@email.com'), ('Juanita', 'juaniii@email.com'), ('Denver', 'denverferg@email.com'), ('John', 'emoryj@email.com'), ('Ebony', 'ebonique@email.com'), ('Kim', 'kdoe@email.com'), ('Coretta', 'corettadee@email.com'), ('Victor', 'vickdenver@email.com'), ('Hamish', 'hamman@email.com'), ('Erin', 'ecounts@email.com'), ('Harris', 'harrisc@email.com'), ('Melissa', 'chantayay@email.com'), ('Emmanual', 'oemmanual@email.com'), ('Illa', 'illac@email.com'), ('Tyrone', 'tyroner@email.com'), ('Roger', 'rogrob@email.com'), ('Robert', 'rjenks@email.com'), ('Joy', 'jzman@email.com'), ('Frances', 'grammasangels@email.com'), ('Latavia', 'latayy@email.com'), ('Kurtis', 'kurtemple@email.com'), ('Lashaunda', 'la_shaun@email.com'), ('Lieselotte', 'lieselotte@email.com'), ('Sula', 'sulas@email.com'), ('Jude', 'judesm@email.com'), ('Katharine', 'katharine_kellerman@email.com'), ('Ruiari', 'ruiaribig@email.com'), ('Tyra', 'notthattyra@email.com'), ('Michiko', 'michichan@email.com'), ('Betty', 'bettyandjack@email.com'), ('Elizabeth', 'lizzyloges@email.com'), ('Janie', 'janie56@email.com'), ('Trudy', 'trudywife@email.com'), ('Jane', 'rogersjane@email.com'), ('Magda', 'magdayum@email.com'), ('Peggy', 'peggycopywriter@email.com'), ('Elisabeth', 'lissyolsen@email.com'), ('Robert', 'robarmisen@email.com'), ('Don', 'donhamm@email.com'), ('Roger', 'rslat@email.com'), ('Joan', 'joanie@email.com'), ('Pete', 'karthiser@email.com'), ('Raphaelle', 'raphduvalier@email.com'), ('Bruno', 'brunodh@email.com'), ('Margot', 'margotmdr@email.com'), ('Florent', 'florentdit@email.com'), ('Erwan', 'ptiterwan@email.com'), ('Rodrigue', 'rody@email.com'), ('Alix', 'alixla@email.com'), ('Camille', 'camillge@email.com'), ('Capucine', 'capustar@email.com'), ('Colombane', 'colomblafleur@email.com'), ('Theodore', 'tachi@email.com'), ('Remy', 'remybeer@email.com'), ('Lebron', 'lebron@email.com'), ('Dwyane', 'dwyane@email.com'), ('Joakim', 'joakimjoking@email.com'), ('Kevin', 'kno@email.com'), ('Blake', 'blakeyblake@email.com'), ('Kobe', 'kobegrif@email.com'), ('Michael', 'elturk@email.com'), ('Hedo', 'hedohedo@email.com'), ('Dwight', 'dparker@email.com'), ('Tony', 'tonyhoward@email.com'), ('Kendra', 'krosche@email.com'), ('Jedd', 'fish_jedd@email.com'), ('Julie', 'juilley@email.com'), ('Jeanne', 'jdot@email.com'), ('Jake', 'jszyp@email.com'), ('Eric', 'eoglesby@email.com'), ('Jacek', 'jacekslo@email.com'), ('Filip', 'piatekfil@email.com'), ('Lew', 'lewisriley@email.com'), ('Maciej', 'maciej@email.com'), ('Andrew', 'andrewbed@email.com'), ('George', 'gwein@email.com'), ('Dane', 'rdane@email.com'), ('Ed', 'bredshaw@email.com'), ('Will', 'willmartel@email.com'), ('Yann', 'augeryann@email.com'), ('Kellen', 'kellenleigh@email.com'), ('Andrzej', 'andrzej@email.com'), ('Jaquon', 'jaqqq@email.com'), ('Zavion', 'zavistor@email.com'), ("Jar'Nae", 'jar.nae@email.com'), ('Takevia', 'takewats@email.com'), ("Xy'nya", 'xynia@email.com'), ("Kle'Aija", 'kleaija@email.com'), ('Lane', 'lhollings@email.com'), ('Matthew', 'mattapp@email.com'), ('Alyssa', 'allyulls@email.com'), ("Ta'Nyia", 'taniyaj@email.com'), ("I'mmoni", 'immonioni@email.com'), ('Laila', 'lblue@email.com'), ('Makeda', 'niebom@email.com'), ('Xiaoxi', 'askxiaoxi@email.com'), ('Xiaolin', 'tuxi@email.com'), ('Magda', 'gollymissmolly@email.com'), ('Hugh', 'hugeodie@email.com'), ('Sasha', 'sbright@email.com'), ('Brigit', 'brigitsigrudsdatter@email.com'), ('Vladimir', 'vladtol@email.com'), ('Leo', 'leonabo@email.com'), ('Carson', 'carsonwoolf@email.com'), ('Virginia', 'virgymcullers@email.com'), ('Graham', 'dosty@email.com'), ('Fyodor', 'fyodoro@email.com'), ('Haruki', 'harukido@email.com'), ('Thornton', 'thorntonly@email.com'), ('Harper', 'harperwild@email.com'), ('Langston', 'langstonb@email.com'), ('Gwendolyn', 'gwendolynlambhughes@email.com'), ('Maya', 'mayakaf@email.com'), ('Franz', 'franzangelou@email.com'), ('Sawyer', 'sawyerb@email.com'), ('Jack', 'jfford@email.com'), ('Kate', 'katelocke@email.com'), ('John', 'jbroad@email.com'), ('Shannon', 'shopley@email.com'), ('Peter', 'demarcypete@email.com'), ('Walt', 'walterrjames@email.com'), ('Sayid', 'sayid84@email.com'), ('Hugo', 'hellohugo@email.com'), ('David', 'cataleeeeen@email.com'), ('Benjamin', 'evilben@email.com'), ('Cassandra', 'cassierousseau@email.com'), ('Esther', 'estheryaron@email.com'), ('Anisa', 'anaser@email.com'), ('Brigid', 'briggyellison@email.com'), ('Melissa', 'mwhite@email.com'), ('Malik', 'mreynolds@email.com'), ('Windy', 'mreynolds@email.com'), ('Christopher', 'shawywind@email.com'), ('Michael', 'chrispg@email.com'), ('Christiana', 'laserlazar@email.com'), ('Sidney', 'chencris@email.com'), ('Chevonne', 'sidkelly@email.com'), ('Samantha', 'chevvymeans@email.com'), ('Nathan', 'samabell@email.com'), ('Avery', 'natealbee@email.com'), ('Matt', 'kavery@email.com'), ('Gabriel', 'bensonm@email.com'), ('James', 'gabidt@email.com'), ('Chantal', 'panarello@email.com'), ('Derek', 'youngmacdonald@email.com'), ('Kris', 'krack@email.com'), ('Jordan', 'jwell@email.com'), ('Regina', 'queenregina@email.com'), ('Alex', 'yualex@email.com'), ('Lia', 'lialialia@email.com'), ('Karla', 'karlacheer92@email.com'), ('Tyrese', 'tyreezzz@email.com'), ('Juan', 'juanflo@email.com'), ('Tobias', 'toby@email.com'), ('Teyonah', 'tlamb@email.com'), ('Gregoire', 'gre@email.com'), ('Mallary', 'charchar@email.com'), ('Rajeev', 'rajey@email.com'), ('Will', None), ('David', 'davidbarrett@email.com')]